<ul class="contact-list">
    <li class="contact-item">
        <a href="#"> <svg>
            <use xlink:href="img/icons/sprite.svg#i-facebook"></use>
          </svg></a>
    </li>
    <li class="contact-item">
        <a href="#"> <svg>
            <use xlink:href="img/icons/sprite.svg#i-youtube"></use>
          </svg></a>
    </li>
    <li class="contact-item">
        <a href="#"> <svg>
            <use xlink:href="img/icons/sprite.svg#linkedin"></use>
          </svg></a>
    </li>
    <li class="contact-item">
        <a href="#"> <svg>
            <use xlink:href="img/icons/sprite.svg#telegram"></use>
          </svg></a>
    </li>
</ul>