
<div class="info-menu js-menu">
  <h2 class="info-menu_title">Сповіщення від YouControl</h2>
  <div class="info-menu_blocks">
    <div class="info-menu_block">
      <div class="info-menu_block-top">
      <button class="btn_circle btn--greеn" id="popup3">оновлення</button>
      <p class="article-date">Сьогодні 29.05.2019</p>
      </div>
      <h3 class="block_title">Нові функції моніторинга</h3>
      <p class="info-menu_text">
        Uniquely fashion B2B content for one-to-one web-readiness. Continually
        embrace.
      </p>
    </div>
    <div class="info-menu_block">
     <div class="info-menu_block-top">
      <button class="btn_circle btn--greеn">оновлення</button>
      <p class="article-date">28.05.2019</p>
      </div>
      <h3 class="block_title">Оновленна вкладка судових рішень</h3>
      <p class="info-menu_text">
        Synergistically aggregate inexpensive value after enterprise e-tailers.
        Assertively mesh cooperative resources before revolutionary bandwidth.
        Globally expedite team.
      </p>
    </div>
    <div class="info-menu_block">
      <div class="info-menu_block-top">
      <button class="btn_circle btn--rad">Гаряча новина</button>
      <p class="article-date">28.05.2019</p>
      </div>
      <h3 class="block_title">
        Сьогодні YouControl провів зустріч з представн...
      </h3>
      <p class="info-menu_text">
        Competently exploit competitive best practices through timely total
        linkage. Continually e-enable exceptional.
      </p>
    </div>
    <div class="info-menu_block">
        <div class="info-menu_block-top">
      <button class="btn_circle btn--orange">Вебінар</button>
      <p class="article-date">Сьогодні 29.05.2019</p>
      </div>
      <h3 class="block_title">Нові функції моніторинга.</h3>
      <p class="info-menu_text">
        Uniquely fashion B2B content for one-to-one web-readiness. Continually
        embrace.
      </p>
    </div>
    <div class="info-menu_block">
        <div class="info-menu_block-top">
      <button class="btn_circle btn--greеn">оновлення</button>
      <p class="article-date">Сьогодні 29.05.2019</p>
      </div>
      <h3 class="block_title">Нові функції моніторинга</h3>
      <p class="info-menu_text">
        Uniquely fashion B2B content for one-to-one web-readiness. Continually
        embrace.
      </p>
    </div>
    <div class="info-menu_block">
        <div class="info-menu_block-top">
      <button class="btn_circle btn--blue">Зустріч</button>
      <p class="article-date">Сьогодні 29.05.2019</p>
      </div>
      <h3 class="block_title">
        Сьогодні YouControl провів зустріч з представн...
      </h3>
      <p class="info-menu_text">
        Competently exploit competitive best practices through timely total
        linkage. Continually e-enable exceptional.
      </p>
    </div>
  </div>
  <div class="info-menu_block-bootom">
  <a class="info-menu_btn btn" href="notification_5.html">Переглянути всі</a>
  </div>
</div>
