<div class="popup-info popup-info_wrapper popup" id="popup-info">

<div class="popup-info_block">
  <div class="info-menu_block-top">
    <button class="btn_circle btn--greеn">оновлення</button>
    <p class="article-date">Сьогодні 29.05.2019</p>
  </div>
  <div class="info-menu_title-block">
  <h3 class="popup-info_title">Нові функції моніторинга</h3>
  <p>
    Додайте свою компанію та головних контрагентів до моніторингу та першим
    дізнавайтесь про істотні зміни офіційних даних.
  </p>
  </div> 
  <ul class="popup-info_list">
    <li class="popup-info_item">Нові кольори;</li>
    <li class="popup-info_item">Додавайте більше списків.</li>
  </ul>

  <div class="choice_section">
    <div class="choice_block">
      <img src="img/choice-block.png" alt="" />
    </div>
  </div>
  <div class="popup-info_content-block">
    <h4 class="popup-info_subtitle">Що нового?</h4>
    <p>
      Якщо ви поставите в моніторинг власне підприємство, то отримаєте
      автоматичне сповіщення, якщо його дані в реєстрах змінилися без вашої
      участі. Зі звіту моніторингу ви можете дізнатися про нього навіть раніше
      співробітників самого підприємства, адже сповіщення з’явиться того самого
      дня. За своєю ініціативою контрагент навряд чи повідомить вам цю
      інформацію, а вона може бути критично важливою для вашої співпраці.
    </p>
  </div>

  <div class="popup-info_btn-block">
    <a class="link-before" href="index.html">назад</a>
    <button class="btn">Наступне сповіщення</button>
  </div>
</div>

<button type="button" class="popup_close js-popupCall_close">×</button>
</div>
