.header {
height: 70px;
background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.117839);


&_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

&_widget {
    display: flex;
    justify-content: space-between;
    min-width: 110px;
}
}


.header-block {
    position: relative;
}